node_modules/
web/node_modules/
dist/
web/.next/
web/out/
.env
.env.*
*.log
*.db
*.db-journal
data/
logs/
.nats/
pxe/os-files/
pxe/ipxe/*.efi
pxe/ipxe/*.kpxe
pxe/ipxe/*.pxe
pxe/ipxe/menu.ipxe
pxe/dnsmasq.conf
pxe/iso/*.iso
pxe/iso/*/
!pxe/iso/.gitkeep
*.pem
*.crt
*.key
*.pfx
.DS_Store
